@font-face {
  font-family: "Lato-Regular";
  src: url("./Lato-Regular.ttf");
}

body:not(#editor) {
  padding: 0;
  margin: 0;
  font-family: "Lato-Regular";
}

#editor {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 90vh;
  width: 100%;
}

.navbar {
  height: 10vh;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid black;
}

.logo {
  width: 25%;
  padding-left: 5%;
  text-align: left;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

header {
  height: 10vh;
  padding: 0;
}
.toggle-wrapper {
  width: 70%;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.toggle-wrapper a {
  padding: 15px;
  margin: 10px;
  margin-bottom: 0;

  text-decoration: none;
  border: 2px solid grey;
}

.toggle-wrapper a:hover {
  border: 2px solid rgb(107, 107, 107);
  background-color: #f5f5f5;
  color: black;
}

.toggle-btn.active {
  color: blue;
  border: 2px solid black;
}
.toggle-btn.active:hover {
  background-color: initial;
  border: 2px solid black;
  cursor: default;
  color: blue;
}
.trailing-keys {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.shortcut {
  display: flex;
}
.shortcut img {
  width: 35px;
}

/* SIMULATOR */
.simulator-wapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.simulator {
  border-right: 1px solid black;
}

.simulate_btns_wrapper {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.simulator-wapper .simulate_btns_wrapper div {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  height: fit-content;
  cursor: pointer;
  width: fit-content;
  border-radius: 20px;
  text-align: center;
}

.assemble_btn {
  background-color: #ffbf00;
}

.assemble_btn:hover {
  background-color: #ecb613;
}

.cancel_btn:hover {
  background-color: black;
  color: white;
}

.instructions_wrapper {
  height: 70vh;
  overflow-y: scroll;
}

.code_segment_wrapper .heading {
  font-weight: bold;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.instructions_wrapper div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.code_segment_wrapper .heading span {
  padding-left: 30px;
}

.code_segment_wrapper .instructions_wrapper .meta_instructions:hover {
  background-color: #89e1ff;
  box-shadow: 0 2px 4px -4px black;
  cursor: pointer;
}
.code_segment_wrapper .instructions_wrapper .meta_instructions {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px;
}
.code_segment_wrapper .instructions_wrapper .meta_instructions span {
  padding-left: 30px;
  padding: 5px 5px 5px 30px;
}

.instructions_wrapper .breakpoint_statement {
  background-color: rgb(250, 119, 119) !important;
}

.instructions_wrapper .active_statement {
  background-color: rgb(107, 216, 107) !important;
}

/* Memory Pane */

.mem_buttons_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 10vh;
}

.register_btn,
.memory_btn {
  cursor: pointer;
  padding: 13px;
  width: fit-content;
  margin: 10px;
  border: 1px solid black;
  border-radius: 20px;
  height: fit-content;
}

.register_btn:hover,
.memory_btn:hover {
  border-radius: 0;
}

.mem_buttons_wrapper .active_btn {
  background-color: black;
  color: white;
  border-radius: 20px;
  cursor: default;
}

/* Registers */

.reg_mem_pane{
  height: 75vh;
}

.registers_wrapper{
  height: 65vh;
  overflow-y: scroll;
}
.register_data{
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  margin-bottom: 10px;
}

.register_data .reg_label{
  font-weight: bold;
}

.reg_display_settings{
  display: grid;
  border-top: 1px solid black;
  height: 10vh;
  justify-content: center;
  padding-top: 1vh;
  grid-template-columns: 1fr 1fr;
}
.reg_display_settings .text_display{
  text-align: center;
  font-weight: bold;
}

.memory_wrapper{
  height: 60vh;
  overflow-y: scroll;
}

.memory_head{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.memory_data{
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 1fr 1fr;
}
.memory_data .mem_addr{
  padding-left: 30px;
}

.go_to_mem_block{
  height: 5vh;
}
.memory_data span:not(.mem_addr){
  text-align: center;
}

.go_to_mem_block{
  height: 5vh;
  padding-left: 10px;
}
#mem_addr_val{
  width: 40%;
}

.simulate1_btns_wrapper{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.simulate1_btns_wrapper div{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  height: fit-content;
  cursor: pointer;
  width: fit-content;
  border-radius: 20px;
  text-align: center;
}

.simulate1_btns_wrapper div:hover {
  background-color: black;
  color: white;
}

/* 
.simulator{
  padding-top: 30px;
}

.code-segment{
  width: 60vw;
  border-right: 1px solid black;
}
.simulator .heading{
  font-weight: bold;
}

.simulator li{
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  z-index: 10000;
}

.instr {
} */


@media only screen and (max-width: 753px){
  .logo{
    font-size: 20px;
  }
  .code_segment_wrapper{
    font-size: 12px;
  }
  .register_pane{
    font-size: 12px;
  }
  .mem_buttons_wrapper{
    font-size: 15px;
  }
}

@media all and (max-width: 681px){
  .simulator-wapper{
    grid-template-columns: 1fr;
  }
  .instructions_wrapper{
    height: 50vh;
    border-bottom: 1px solid grey;
  }
  /* header{
    height: 20vh;
  }
  #editor{
    height: 80vh;
  } */
}