@font-face {
  font-family: "Lato-Regular";
  src: url("./Lato-Regular.ttf");
}

body:not(#editor) {
  padding: 0;
  margin: 0;
  font-family: "Lato-Regular";
}

#editor {
  position: relative;
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
}

.navbar {
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.logo {
  width: fit-content;
  margin-left: 5%;
  font-size: 25px;
  text-decoration: none;
  color: black;
}

header {
  height: 10vh;
  padding: 0;
}
.toggle-wrapper {
  width: fit-content;
  height: fit-content;
  list-style-type: none;
  margin-right: 5%;
  display: flex;
  justify-content: center;
}

.toggle-wrapper a {
  padding: 15px;
  margin: 10px;
  margin-bottom: 0;
  height: fit-content;
  text-decoration: none;
  border: 2px solid grey;
}

.toggle-wrapper a:hover {
  border: 2px solid rgb(107, 107, 107);
  background-color: #f5f5f5;
  color: black;
}

.toggle-btn.active {
  color: blue;
  border: 2px solid black;
}
.toggle-btn.active:hover {
  background-color: initial;
  border: 2px solid black;
  cursor: default;
  color: blue;
}
.trailing-keys {
  width: 15%;
  display: flex;
  flex-direction: column;
}

.shortcut {
  display: flex;
}
.shortcut img {
  width: 35px;
}

/* SIMULATOR */
.simulator-wapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.simulator {
  border-right: 1px solid black;
}

.simulate_btns_wrapper {
  display: flex;
  justify-content: center;
  height: 10vh;
}

.simulator-wapper .simulate_btns_wrapper div {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  height: fit-content;
  cursor: pointer;
  width: fit-content;
  border-radius: 20px;
  text-align: center;
}

.assemble_btn {
  background-color: #ffbf00;
}

.assemble_btn:hover {
  background-color: #ecb613;
}

.cancel_btn:hover {
  background-color: black;
  color: white;
}

.instructions_wrapper {
  height: 70vh;
  overflow-y: scroll;
}

.code_segment_wrapper .heading {
  font-weight: bold;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.instructions_wrapper div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.code_segment_wrapper .heading span {
  padding-left: 30px;
}

.code_segment_wrapper .instructions_wrapper .meta_instructions:hover {
  background-color: #89e1ff;
  box-shadow: 0 2px 4px -4px black;
  cursor: pointer;
}
.code_segment_wrapper .instructions_wrapper .meta_instructions {
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px;
}
.code_segment_wrapper .instructions_wrapper .meta_instructions span {
  padding-left: 30px;
  padding: 5px 5px 5px 30px;
}

.instructions_wrapper .breakpoint_statement {
  background-color: rgb(250, 119, 119) !important;
}

.instructions_wrapper .active_statement {
  background-color: rgb(107, 216, 107) !important;
}

/* Memory Pane */

.mem_buttons_wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 10vh;
}

.register_btn,
.memory_btn {
  cursor: pointer;
  padding: 13px;
  width: fit-content;
  margin: 10px;
  border: 1px solid black;
  border-radius: 20px;
  height: fit-content;
}

.register_btn:hover,
.memory_btn:hover {
  border-radius: 0;
}

.mem_buttons_wrapper .active_btn {
  background-color: black;
  color: white;
  border-radius: 20px;
  cursor: default;
}

/* Registers */

.reg_mem_pane {
  height: 75vh;
}

.registers_wrapper {
  height: 65vh;
  overflow-y: scroll;
}
.register_data {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  margin-bottom: 10px;
}

.register_data .reg_label {
  font-weight: bold;
}

.reg_display_settings {
  display: grid;
  border-top: 1px solid black;
  height: 10vh;
  justify-content: center;
  padding-top: 1vh;
  grid-template-columns: 1fr 1fr;
}
.reg_display_settings .text_display {
  text-align: center;
  font-weight: bold;
}

.memory_wrapper {
  height: 60vh;
  overflow-y: scroll;
}

.memory_head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.memory_data {
  display: grid;
  margin-bottom: 10px;
  grid-template-columns: 1fr 1fr;
}
.memory_data .mem_addr {
  padding-left: 30px;
}

.go_to_mem_block {
  height: 5vh;
}
.memory_data span:not(.mem_addr) {
  text-align: center;
}

.go_to_mem_block {
  height: 5vh;
  padding-left: 10px;
}
#mem_addr_val {
  width: 40%;
}

.simulate1_btns_wrapper {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.simulate1_btns_wrapper div {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  height: fit-content;
  cursor: pointer;
  width: fit-content;
  border-radius: 20px;
  text-align: center;
}

.simulate1_btns_wrapper div:hover {
  background-color: black;
  color: white;
}

/* 
.simulator{
  padding-top: 30px;
}

.code-segment{
  width: 60vw;
  border-right: 1px solid black;
}
.simulator .heading{
  font-weight: bold;
}

.simulator li{
  display: flex;
  justify-content: space-evenly;
  height: 5vh;
  z-index: 10000;
}

.instr {
} */

/* @media only screen and (max-width: 753px){
  .code_segment_wrapper{
    font-size: 12px;
  }
  .register_pane{
    font-size: 12px;
  }
  .mem_buttons_wrapper{
    font-size: 15px;
  }
} */

@media only screen and (max-width: 600px) {
  .simulator-wapper {
    display: flex;
    flex-direction: column;
  }
  .instructions_wrapper {
    height: 50vh;
    border-bottom: 1px solid grey;
  }
  .toggle-wrapper a {
    padding: 7px;
    margin: 4px;
  }
}

@media only screen and (max-width: 477px) {
  .logo {
    font-size: 19px;
  }
}

@media only screen and (max-width: 435px) {
  .logo {
    font-size: 15px;
  }
  .toggle-wrapper {
    margin-right: 2%;
  }
  .toggle-wrapper a {
    padding: 7px;
    margin: 4px;
  }
}
@media only screen and (max-width: 383px) {
  .logo {
    display: none;
  }
  .toggle-wrapper {
    width: 100%;
  }
  .toggle-wrapper a {
    padding: 9px;
    margin: 4px;
  }
}

.display_none {
  display: none !important;
}

/* 
Copied from w3schools
*/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 9999; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
